<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Step 2</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<div th:insert="fragments/navigation :: header"></div>
<h1>Step 2: Selecting a New Project with the Dropdown Menu</h1>
<span class="bold">Hover </span>
over the word labeled
<span class="bold">New </span>
and move your mouse to the right
where it says
<span class="bold">Project</span>
and click it.<br><br>
<img alt="alternative text" th:src="@{/img/steptwo.JPG}"><br><br>
<div th:insert="fragments/navigation :: footer"></div>
</body>
</html>