<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Step 3</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<div th:insert="fragments/navigation :: header"></div>
<h1>Step 3: Select Your Type of Project and Project Settings</h1>
Select your preferred project configurations and click the button labeled <span class="bold">Next</span>.<br><br>
<img alt="alternative text" th:src="@{/img/stepthree.JPG}"><br><br>
<div th:insert="fragments/navigation :: footer"></div>
</body>
</html>