<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Step 4</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<div th:insert="fragments/navigation :: header"></div>
<h1>Step 4: Create the Project</h1>
Click the button labeled <span class="bold">Finish</span> to complete the project creating process.<br><br>
<img alt="alternative text" th:src="@{/img/stepfour.JPG}"><br><br>
<div th:insert="fragments/navigation :: footer"></div>
</body>
</html>