<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Step 1</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<div th:insert="fragments/navigation :: header"></div>
<h1>Step 1: Navigate to file tab</h1>
In the top left corner of the window click on the word <span class="bold">File</span>.<br><br>
<img alt="alternative text" th:src="@{/img/stepone.JPG}"><br><br>
<div th:insert="fragments/navigation :: footer"></div>
</body>
</html>